 body {
    background-color: black;
    color: white;
     font-family: 'Roboto', sans-serif;
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

}

 .h3{
     display: inline-block;
padding-right: 50px;

 }
 ul {
     padding: 1px;
     margin: 10px;
     display: inline-block;

 }
 li {
     list-style-type: none;
     display: inline-block;
     background: black;

 }

 li a {
     display: inline-block;
     padding: 1em;
     color: white;
     text-decoration: none;
 }


 article {
     display: inline-block;
     background: #111;
     vertical-align: top;
     border-radius: 0.5em;
     padding: 1em;
 }
 article:hover {
     background: #222222;
 }

 .img-container {
     height: 300px;
     width: 300px;
 }
 img {
     max-width: 100%;
     border-radius: 100%;
 }

 playlist{



 }






